.body01 {
    background-image: url(resources/signin1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.boX11{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}